@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Vaccine Management Application</h1>

</div>
<br />
<br />
<nav class="nav">
   
    <p><a asp-controller="Vaccines" asp-action="VaccineListDetails" class="btn btn-info mr-2 mb-2">Vaccine Management</a></p>

    <p><a asp-controller="Vaccines" asp-action="Index" class="btn btn-info mr-2 mb-2">Patient Management</a></p>

</nav>


